body{
    background: linear-gradient(white, rgb(142, 141, 255));
    height: 98vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 10px;
    height: 20vh;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 50vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(lightblue, white);
    border: 2px solid black;
    padding: 5%;
}

#start{
    font-size: 30px;
}